<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head", {titulo: "Página no encontrada 😑"}) %>
    
<body>
    <div class="errorPag">
    <h2>Te equivocaste de página pa</h2>
    <div class="imagenError"><img src="/images/je.jpg" alt=""></div>
    <div class="audiox">
    <audio controls autoplay>
        <source src="/sounds/problem.mp3" type="audio/mpeg"> 
    </audio>
    </div>
    </div>
    <%- include("./partials/footer") %> 
    <script src="/js/dark.js"></script>
</body>
</html>