<footer>
    <div class="footer-contenedor">
    <div class="seguinos">
        <h4> Seguinos</h4>
        <a href="https://www.facebook.com/vicath.libreria/">
            <i class="fab fa-facebook" id="face"></i>
        </a>
        <a href="https://www.instagram.com/vicath.libreria/">
            <i class="fab fa-instagram" id="insta"></i>
        </a>
        <a href="https://twitter.com/vicath_libreria">
            <i class="fab fa-twitter" id="twitter"></i>
        </a>
    </div>
    <div class="suscribe">
        <h4> Suscribite</h4>
        <input type="email" placeholder="Ingresa tu e-mail" class="enemy"> 
        <button class="enemy"> Suscribirme</button>
        
    </div>
    <div class="mediospago">
        <h4>Medios de pago</h4>
        <div class="imglogos">
        <img src="/images/amazon.png" alt="" class="imagen-foot">
        <img src="/images/mcard.png" alt="" class="imagen-foot">
        <img src="/images/visa.png" alt="" class="imagen-foot">
        <img src="/images/paypal.png" alt="" class="imagen-foot">
    </div>
    </div>
    </div>
</footer>

<script src="/js/dark.js"></script>
<script src="/js/menuHamburguesa.js"></script>